.social-title{
  border-bottom: 5px solid $page-break;
  padding: 3px 10px;
}

.post .social-icons{
  text-align: center;
  padding: 0;
  color: #333;
}

.post .social-icons a {
  text-decoration: none;
  color: #333;
  text-shadow: none;
  background-image: none;
}

.presentation  {
  h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0.4rem;
    line-height: 1.6;
  }

  h1, h2, h3 {
    font-family: $heading-font-family;
  }

  h4 {
    font-family: $font-family;
    font-weight: 500;

    color: #333;
  }

  h3 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    margin-bottom: 24px;

    color: #333;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-avatar {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0 0 40%;
}

@media (max-width:760px) {
  .row {
    flex-direction: column;
  }
}

.aborder {
  padding-bottom: 18px;
  position: relative;
  text-align: left;
}

.ainverted {
  color: #000;
  background: #fff;
}

.aborder.ainverted:after {
  background: #333;;
}

.aborder:after {
  left: 0;
  margin-left: 0;
}

.aborder:after {
  content: "";
  position: absolute;
  width: 52px;
  height: 5px;
  background: #000;
  left: 0%;
  bottom: 0;
  margin-left: 0;
}

hr.aborder {
  display: block;
  margin-bottom: 18px;
  margin-top: 18px;
  border: 0;
}

.me {
  margin-top: 5em;
}

@media (max-width:760px) {
  .me {
    margin-top: 0em;
  }
}

.site-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
